<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="design">

  <div>
    <%= form.label :NOME, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :TELEFONE, style: "display: block" %>
    <%= form.text_field :telefone %>
  </div>

  <div>
    <%= form.label :CPF, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :RG, style: "display: block" %>
    <%= form.text_field :rg %>
  </div>

  <div>
    <%= form.submit %>
  </div>

</div>
<% end %>
